<header [class.scrolled]="isScrolled" class="header">
  <div class="left">
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix Logo">
    <nav class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/">Series</a>
      <a routerLink="/">Films</a>
      <a routerLink="/">Games</a>
      <a routerLink="/">Latest</a>
      <a routerLink="/">My List</a>
      <a routerLink="/">Browse by Language</a>
    </nav>
  </div>

  <div class="right">
    
    <span class="material-symbols-outlined">search</span>
    <span class="kids">Kids</span>
    <span class="material-symbols-outlined">notifications</span>
    
    <img class="profile-icon" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png" alt="Profile">


    
  </div>
</header>
